<div id="recipe_image">
<img src="http://placekitten.com/500/500">
<p id="recipe_title">ねこ画像です</p>
</div>
<p class="recipe_notes">ユーザにとってより適切だと判断した場合において、当サービスがレシピ内容の変更を行っている場合があります。</p>
<div class="recipe_section" id="recipe_know_how">
  <p class="recipe_subtitle">料理のコツ</p>
  <div class="recipe_subsection">
    <div class="box">
      <ul>
        <li><span>喫煙はあなたにとって脳卒中の危険性を高めます。</span></li>
        <li><span>喫煙はあなたにとって脳卒中の危険性を高めます。</span></li>
        <li><span>喫煙はあなたにとって脳卒中の危険性を高めます。</span></li>
      </ul>
    </div>
  </div>
</div>

<div class="recipe_section" id="recipe_ingridents">
  <p class="recipe_subtitle">材料</p>
  <div class="recipe_subsection">
    <table>
    <tr>
    <th>ニコチン</th>
    <td>0.1mg</td>
    </tr>
    <tr>
    <th>タール</th>
    <td>11mg</td>
    </tr>
    </table>
  </div>
</div>

<div class="recipe_section" id="recipe_process">
  <p class="recipe_subtitle">つくり方</p>
  <div class="recipe_subsection">
    <table>
    <tr>
    <th>1</th>
    <td>ひをつけて</td>
    </tr>
    <tr>
    <th>2</th>
    <td>すって</td>
    </tr>
    <tr>
    <th>3</th>
    <td>はく</td>
    </tr>
    </table>  </div>
</div>

<div id="recipe_done">つくった！</div>