<div class="recommend_card">
  <img class="recommend_card_img" src="http://placekitten.com/500/500">
  <p class="recommend_card_title">意外と簡単ねこねこねこねこ</p>
  <p class="recommend_card_ingridients">肉球、しっぽ、耳</p>
</div>
<div class="recommend_card">
  <img class="recommend_card_img" src="http://placekitten.com/500/500">
  <p class="recommend_card_title">意外と簡単ねこねこねこねこ</p>
  <p class="recommend_card_ingridients">肉球、しっぽ、耳</p>
</div>
<div class="recommend_card">
  <img class="recommend_card_img" src="http://placekitten.com/500/500">
  <p class="recommend_card_title">意外と簡単ねこねこねこねこ</p>
  <p class="recommend_card_ingridients">肉球、しっぽ、耳</p>
</div>
<div class="recommend_card">
  <img class="recommend_card_img" src="http://placekitten.com/500/500">
  <p class="recommend_card_title">意外と簡単ねこねこねこねこ</p>
  <p class="recommend_card_ingridients">肉球、しっぽ、耳</p>
</div>
<div class="recommend_card">
  <img class="recommend_card_img" src="http://placekitten.com/500/500">
  <p class="recommend_card_title">意外と簡単ねこねこねこねこ</p>
  <p class="recommend_card_ingridients">肉球、しっぽ、耳</p>
</div>


<div class="recommend_card_spacer"></div>
<div class="recommend_card_dummy_1"></div>
<div class="recommend_card_dummy_2"></div>
<!-- 2 > 1 > 0 -->

<div id="recommend_button_box">
  <div class="recommend_button nope">
    <i class="fa fa-thumbs-o-down"></i>
    <p>つくりたくない</p>
  </div>
	<div class="recommend_button like">
    <i class="fa fa-thumbs-o-up"></i>
    <p>つくりたい</p>
  </div>
</div>