<div class="tutorial">
	<div class="howto_rule">利用規約<p style="font-size:13px; line-height: 1.4em"><br/>以下の規約をよく読み、<br/>同意する場合は「同意する」の<br/>ボタンを押して下さい</p></div>
	<div class="rule"><textarea name="rule" disabled="disabled" rows="15" cols="45">第1条（はじめに）
この利用規約は、Cheese!（以下、当アプリ）を運営する専修大学ネットワーク情報学部望月研究室（以下、当研究室）が定める利用条件です。ユーザの皆様（以下、ユーザ）は、本規約に従ってご利用いただきます。
当研究室は、当アプリを用いて、スマートフォンアプリの利用者ごとに最適なレシピを選出するレコメンド機能の向上、及びそれによる学習効果に関する研究（以下、本件研究）を行っています。ユーザはこのことを了解した上で当アプリを利用するものとします。

第2条（定義）
ユーザとは、当アプリで用いるアカウントを持ち、閲覧している人のことをいいます。
アカウントとは、当アプリを利用できる権利のこと、または利用する際に必要なIDのことをいいます。
SNSとは、ソーシャルネットワーキングサービスのことをいいます。

第3条（当アプリ内のレシピおよび本ソフトウェアの公開目的）
当アプリ内のレシピは全て、楽天株式会社の運営する「楽天データ公開」の制度により、研究目的で国立情報学研究所を経由して使用許可を得て、楽天公開データ(レシピ)のデータを使用しています。
本件研究にとってより適切だと判断した場合において、当研究室がレシピ内容の変更を行っている場合があります。
ご意見・ご感想・その他何らかの連絡をする際は、楽天株式会社及び国立情報学研究所ではなく、必ず当研究室までご連絡下さい。
連絡先：ne230021@senshu-u.jp　望月研究室代表　宛

第4条（利用料金、通信料金）
当アプリの利用は無料です。
当アプリのダウンロード及び使用には通信料がかかることがあります。当該費用はユーザが負担するものとします。

第5条（著作権等）
ユーザが正当な権限を有するものを除き、当アプリのコンテンツを構成するプログラム、文章、レイアウト、画像等の著作権等の知的財産権は当研究室又は正当な権限を有する主体に帰属します。

第6条（プライバシー）
ユーザ情報に関しては、プライバシーポリシーに基いて適切に取り扱います。

第7条（ユーザの責任）
当アプリは、ユーザ自身の責任においてご利用ください。
通信手段はユーザ各自が用意するものとします。
テキスト、画像および画像に付随する情報、個人情報や位置情報などを含む全ての情報の利用に関する責任は、ユーザにあります。他人への名誉毀損・プライバシーの侵害・著作権法の侵害、および他人の権利を侵害した場合、当該ユーザ自身が責任を負う必要があります。当研究室は一切の責任を負いません。
ユーザ間での問題は、当該ユーザ同士で解決する必要があります。当研究室は一切の責任を負いません。
当アプリのご利用にあたり、本規約に違反した場合は、ユーザに対して、当アプリの利用停止、又はユーザ資格の停止・終了などの措置を取ることがあります。

第8条（禁止事項）
　　本アプリを使用するにあたって、ユーザは以下の行為を行ってはなりません。
当研究室または第三者に損害を与える行為、または損害を与える恐れのある行為
当研究室または第三者の財産、名誉、プライバシー等を侵害する行為、または侵害する恐れのある行為
ユーザが正当な権限を有するものを除き、当アプリ上の画像、データ又はプログラム等を編集、変更、販売又は頒布等する行為
公序良俗に反する行為、またはその恐れのある行為
他人のSNSの情報を登録するなど、虚偽の申告、届出を行う行為
コンピュータウィルス等有害なプログラムを使用または提供する行為
迷惑メールやメールマガジン等を一方的に送付する行為
その他、法令に違反する行為、またはその恐れがある行為
その他当研究室が不適切と判断する行為
ユーザの当アプリにおけるすべての利用権の譲渡、貸与および相続

第9条（免責事項）
当アプリイトに掲載されている全ての情報を慎重に作成し、また管理しますが、その正確性および完全性などに関して、いかなる保証もするものではありません。
当アプリの公開期間は2015年3月を目処にしております。しかし、当研究室は、予告なしに当アプリの運営を停止または中止し、また当アプリに掲載されている情報の全部または一部を変更する場合があります。 
ユーザが当アプリを利用したこと、または何らかの原因によりこれをご利用できなかったことにより生じる一切の損害および第三者によるデータの書き込み、不正なアクセス、発言、メールの送信等に関して生じる一切の損害について、当研究室は、何ら責任を負うものではありません。

第10条（損害賠償）
本規約に違反した場合、ユーザは当研究室に発生した損害を賠償する必要があります。

第11条（管轄裁判所）
本規約は日本国法に準拠するものとします。本規約及び本アプリの利用に関して、ユーザと当社との間で生じた全ての問題については、東京簡易裁判所又は東京地方裁判所を専属的合意管轄裁判所とします。



お問い合わせについて

ne230021@senshu-u.jp　
望月研究室代表　宛





プライバシーポリシー

基本方針
専修大学ネットワーク情報学部2014年度望月研究室（以下、当研究室）がCheese!（以下、当アプリ）を運営する上での個人情報の取り扱い指針について記したものです。

第1条（当アプリ上での個人情報について）
当アプリを運営し、当アプリの利用の効果に関する研究を行うために最低限必要な情報をユーザから取得します。
取得した個人情報の保護に最大限の注意を払います。
下記は、当アプリを運営する上での個人情報取り扱いに関する考えです。

第2条（個人情報の取得）
当研究室は、各ユーザに最適な情報を推薦するため、及び当アプリの管理や利用状況に関する分析のために下記の個人情報を利用します。ユーザのブラウザから自動的に受け取り、アクセスログとしてサーバーに記録します。尚、これは個人を特定できる情報を含むものではありません。
・ユーザが当アプリを利用する上での行動ログ
・当アプリと連携したSNS（Twitter、Insgtagram）のID
・ユーザのIPアドレス
・クッキー情報やユーザーが閲覧したページ
・ユーザの利用環境情報
・個人情報の利用

第3条（個人情報の開示）
当研究室は、下記の場合を除いて、個人情報を第三者に開示することをしません。
個人情報の開示に、ユーザ本人の同意がある場合。
ユーザ本人が開示を求めた場合。この場合、本人確認がとれない場合は開示しません。
・当アプリの運営上必要な場合。
・当アプリを運営する上で、レシピ提供元（楽天株式会社）に個人情報の公表が必要な場合。
・令状に基づき開示を求められた場合や、特定電気通信役務提供者の損害賠償責任の制限及び発信者情報の開示に関する法律(プロバイダ責任制限法)に基づく発信者情報開示請求を受けた場合など、個人情報を開示すべき法的義務を当社が負っている場合
・ユーザーが利用規約に反したとする合理的な疑いがあり、当社の権利、財産やサービス等を保護するため、必要と認められる場合
・ユーザーまたは第三者の生命、身体および財産等に対する差し迫った危険性があり、緊急の必要性がある場合で、本人の同意を得ることが困難な場合

第4条（問い合わせ窓口）
ne230021@senshu-u.jp　望月研究室代表　宛

第5条（プライバシーポリシーの変更手続き）
当研究室は、利用者情報の取り扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、本ポリシーを変更することがあります。ユーザは本ポリシーを定期的に確認するものとします。但し、法令上ユーザの同意が必要となるような内容の変更の場合は、お知らせ致します。</textarea></div>
</div>
<div class="tuto_btn" ng-click="next1()">同意する</div>
